* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


main {
  background: url("images/christmas-1911637_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
 
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100px;

}

header h2 {
  width: 100%;
  background-color: antiquewhite;
  text-align: center;
  font-weight: bold;
  color: #000000af;
}

section {
  display: block;
  margin: auto;
  width: 100%;
}

.part1 {
  background: white;
  width: 80%;
  margin: auto;
  border: none;
  border-radius: 10px;
  color: black;
  height: 700px;
}
.part11 {
  margin-bottom: 20px;
}

.part1 h2,
h3 {
  margin: auto;
  padding: 10px;
  text-align: center;
  color: #000000af;
}

.part1 h3 {
  padding: 0px 10px;
  text-align: left;
  margin-top: 30px;
}

ul {
  padding: 0px 35px;
}
li {
  padding: 5px 0px;
}

.part1 p {
  margin: auto;
  padding: 15px;
  text-align: left;
}

.part2 {
  background: white;
  height: 550px;
  width: 80%;
  margin: auto;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  color: black;
}

.report1 {
  margin-top: 25px;
}

.form-style {
  margin-top: 10px;
}

.part2 input,
button {
  width: 300px;
  padding: 13px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #00000067;
  background: #0000000a;
}

label {
  display: inline-block;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 14px;
}

button {
  width: 300px;
  background: #29f829b4;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 900;
  cursor: pointer;
}

button:hover {
  background: #096909b4;
}

.part22 h2 {
  padding: 10px;
  color: #000000af;
}

.form-style {
  margin-bottom: 10px;
}

.main-result h3 {
  border: 1px solid #0000005e;
  text-align: center;
  margin: auto;
  width: 300px;
  height: 45px;
  font-size: 14px;
  padding: 13px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.report1 {
  padding: 20px;
  margin: auto;
}

.main-report {
  border: 1px solid #0000005e;
  height: 100px;
  width: 80%;
  margin: auto;
  background: #0000000a;
}

@media only screen and (min-width: 800px) {

  section {
    display: flex;
    justify-content: space-between;
  
  }

  .part1 {
    width: 500px;
    margin: auto;
    border: none;
    text-align: center;
    background: #fffffffa;
    height: 520px;
  }

  .part2 {
    height: 520px;
    width: 400px;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background: #fffffff8;
    color: black;
  }

  ul {
    text-align: left;
  }
}

@media only screen and (max-width: 800px) {

main{
  max-height: 100vh;
}
}